wheel
ipython
matplotlib
numpy
pandas
scikit-learn
scipy
notebook==6.1.5
seaborn
jupyter
jupyterhub
jupyter_contrib_nbextensions
# soundfile
# torch 
# torchvision
# torchaudio
# tensorflow
omegaconf
pydub

